body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 2em;
    background: grey;
    color: black;
    font-family: Arial;
}

.story {
    margin-left: 3em;
    margin-top: 15px;
    font: bold 2em Arial, sans-serif;
    color: blue;
    text-shadow: rgb(0, 0, 100) 1px 1px 0, rgb(0, 0, 100) 2px 2px 0, 
                 rgb(0, 0, 100)2px 2px 0, rgb(0, 0, 100)4px 4px 0, 
                 rgb(0, 0, 100) 5px 5px 0;
} 

.story_1 {
    width: 500px;
    height: 310px;
    margin-top: 10px;
    background: white;
    text-indent: 1em;
    padding-left: 30px; 
    line-height: 1.5;
    border-left: 6px solid red;
}

.story_1 strong {
    font-style:italic;     
   font-weight: bold; 
   letter-spacing: 0.2em;
}

.web {
    width: 260px;
    height: 50px;
    margin: 10px;
    margin-left: 7em;
    margin-top: 20px;
    text-align: center;
    background-color: green;
    align-items:center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.web p {
    border-bottom: 1px yellow solid;
    border-top: 1px yellow solid;
    width: 100%;
    display: inherit;
    justify-content: center;
    align-self: center;
    color: yellow;
}

.web_1 {
    width: 500px;
    height: 310px;
    margin-top: 10px;
    background: white;
    text-indent: 1em;
    padding-left: 30px; 
    line-height: 1.5;
}

.web_2 {
    width: 500px;
    height: 340px;
    margin-top: 10px;
    background: white;
    text-indent: 1em;
    padding-left: 30px; 
    line-height: 1.5;
}
















