body {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 5em;
    padding-right: 2em;
    background-color: rgb(133, 133, 133);
    color: black;
}
.history {
    width: 500px;
    background-color: white;
    border-right: thick double blue;
    padding-left: 30px;
    text-indent: 30px;
    line-height: 2.0;
}

.heading_history {
    margin-top: 20px;
    margin-left: 90px;
    z-index: 10;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: blue 1px 1px 0,  blue 1px 1px 0, 
     blue 2px 2px 0,  blue 3px 3px 0, 
    blue 3px 3px 0;
    color: blue;
}
